$title_font : 'Special Elite', cursive;
$text_font : 'Oswald', sans-serif;

$background-black : #000000;
$font-color : #dddddd;
$grey : #707070;

html {
  height: 100%;
}
body {
  height: 100%;
  min-height: 100%;
  font-family: $text_font;
  background-color: $background-black;
  color: $font-color;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $title_font;
}

.hero {
  box-sizing: border-box;
  position: relative;
  height: 45%;
  color : white;
  background-color: black;
  padding : 5% 0;
  img {
    position: relative;
    max-width: 75%;
    max-height: 190px;
  }
}

.values {
  background: linear-gradient( rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5) ), url('../images/web_back.jpg');
  background-position-y: bottom;
  background-position-x: center;
  background-size: cover;
  box-sizing: border-box;
  position: relative;
  min-height: 55%;
  padding : 5% 0;
  a {
    color : white;
    &.fb:hover {
      color: #3b5998;
    }
    &.yt:hover {
      color: #cc181e;
    }
    &.sc:hover {
      color: #ff7700;
    }
    @media (max-width: 550px) {
      i {
        margin-top: 5rem;
      }
    }
  }
}

.mail {
  margin-top: 5%;
  a {
    color: white;
    text-decoration: none;
  }
}

.pro {
  a {
    font-size: 2em;
    vertical-align: middle;
    text-decoration: none;
  }
}

.photo {
  img {
    display: block;
    max-width: 100%;
    border: solid 1px $grey;
  }
}

@media (min-width: 550px) and (max-height: 550px) and (orientation: landscape) {
  .hero {
    padding: 1% 0;
    min-height: 35%;
    img {
      max-height: 130px;
    }
  }
  .values {
    min-height: 65%;
    padding: 1% 0;
  }
}
@media (max-width: 550px) and (orientation: portrait) {
  .hero {
    height: 25%;
  }
  .values {
    min-height: 75%;
    a {
      i {
        margin-top: 6%;
      }
      &.fb i {
      }
      margin-top: 0;
    }
  }
}