$title_font : 'Special Elite', cursive;
$text_font : 'Oswald', sans-serif;

$background-black : #000000;
$font-color : #dddddd;
$grey : #707070;

html {
  height: 100%;
}
body {
  height: 100%;
  min-height: 100%;
  font-family: $text_font;
  background-color: $background-black;
  color: $font-color;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $title_font;
}

.hero {
  @media (min-width: 550px) {
    box-sizing: border-box;
    position: relative;
    min-height: 50%;
  }
  color : white;
  background-color: black;
  img {
    width: 75%;
    height: auto;
  }
}

.values {
  background: linear-gradient( rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5) ), url('../images/web_back.jpg');
  background-position-y: bottom;
  background-position-x: center;
  background-size: cover;
  @media (min-width: 550px) {
    box-sizing: border-box;
    position: relative;
    min-height: 50%;
  }
  a {
    color : white;
    &.fb:hover {
      color: #3b5998;
    }
    &.yt:hover {
      color: #cc181e;
    }
    &.sc:hover {
      color: #ff7700;
    }
    @media (max-width: 550px) {
      i {
        margin-top: 5rem;
      }
    }
  }
}

.mail {
  margin-top: 10rem;
  a {
    color: white;
    text-decoration: none;
  }
}

.pro {
  a {
    font-size: 2em;
    vertical-align: middle;
    text-decoration: none;
  }
}

.photo {
  img {
    display: block;
    max-width: 100%;
    border: solid 1px $grey;
  }
}